#body {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    height: 95vh;
}
#grey_div {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.95;
    background-color: gray;
    display: flex;
    flex-direction: column;
}
#back_button {
    width: 60px;
    height: 60px;
    margin: 20px;
    border-radius: 5px;
}
#grid_div {
    display: grid;
    columns: auto auto;
    height: 80vh;
    align-items: center;
    gap: 20px 20px; 
    text-align: center;
}
#listimage {
    grid-column: 1 / 2;
    width: 30vw;
    margin-left: 35vw;
    margin-right: 35vw;
}
#name_header_span, .name_span {
    grid-column: 1;
    width: 50vw;
}
#price_header_span, .price-span {
    grid-column: 2;
    width: 50vw;
}
#0, #1, #2 {
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: center;
    text-align: center;
    margin-left: 9vw;
    margin-right: 9vw;
}
.grocery-store-span {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.price-span {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}